h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas  
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')                              
                    +navTemaItem('1', 'Administración de cartera', 'main.html#page/administracion/')
                    +navTemaItem('2', 'Gestión de cobranzas', 'main.html#page/gestion/')
                    +navTemaItem('3', 'Información de clientes deudores', 'main.html#page/informacion/')
                    +navTemaItem('4', 'Hábitos de pago', 'main.html#page/habitos/') 
                    +navTemaItem('5', 'Ley del consumidor financiero y Ley de Habeas Data', 'main.html#page/ley_del_consumidor/') 
                    +navTemaItem('6', 'Estrategia de recuperación de cartera', 'main.html#page/estrategia/') 
                    +navTemaItem('7', 'Canales de comunicación organizacional', 'main.html#page/canales/') 
                    +navTemaItem('8', 'Objeciones', 'main.html#page/objeciones/') 
                    +navTemaItem('9', 'Proyecciones de pago', 'main.html#page/proyecciones/') 
                    +navTemaItem('10', 'Acuerdos de pago', 'main.html#page/acuerdos/')
                    +navTemaItem('11', 'Políticas de normalización de cartera', 'main.html#page/politicas/') 
                    +navTemaItem('12', 'Procesos y procedimientos para recaudo cartera', 'main.html#page/procesos_y_procedimientos/') 
                    +navTemaItem('13', 'Informe de cobranza', 'main.html#page/informe_de_cobranza/') 
                    +navTemaItem('14', 'Evaluación de la gestión de cobranza', 'main.html#page/evaluacion_de_gestion/')